.logo {
  min-width: 5rem;
  max-width: 12rem;
}

.header__menu {
  font-size: 1.8rem;
  display: none;
}
.header__menu:hover {
  cursor: pointer;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__list li {
  margin-right: 1rem;
}

.header__list li:nth-child(4) {
  margin-right: 0;
}

.header__list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
  color: var(--secondary-text);
}
.active {
  position: relative;
  color: var(--primary-text) !important;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  left: 0;
  top: 2.2rem;
  background-color: var(--secondary-color);
}

.show {
  display: flex !important;
}

@media screen and (max-width: 850px) {
  .logo {
    max-width: 8rem;
  }

  .header__menu {
    display: block;
  }

  .header__list {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    padding: 2rem 1rem;
    margin-top: calc(2px + var(--header-height));
    min-height: calc(100vh - var(--header-height));
    background-color: rgb(243, 243, 243);
    z-index: 1000;
  }

  .header__list li a {
    padding-left: 1.5rem;
  }

  .active::after {
    width: 80%;
    margin-left: 1.5rem;
  }
}
