.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.header h1 {
  font-family: "Montserrat", serif;
  cursor: pointer;
  padding-left: 2rem;
}

.header__menu {
  font-size: 2rem;
  display: none;
}
.header__menu:hover {
  cursor: pointer;
}

.header__list {
  display: flex;
  list-style: none;
  padding-right: 2rem;
}

.header__list li {
  margin-right: 1rem;
}

.header__list li:nth-child(5) {
  margin-right: 0;
}

.header__list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 600;
  color: var(--secondary-text);
}
.active {
  position: relative;
  color: var(--primary-text) !important;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  left: 0;
  top: 2.2rem;
  background-color: var(--primary-color);
}

.show {
  display: flex !important;
}

@media screen and (max-width: 850px) {
  .header__menu {
    display: block;
    padding-right: 2rem;
  }

  .header__list {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    padding: 2rem 1rem;
    margin-top: calc(2px + var(--header-height));
    min-height: calc(100vh - var(--header-height));
    background-color: var(--primary-color);
  }

  .header__list li a {
    color: #fff;
    padding-left: 1.5rem;
  }

  .active {
    color: #fff !important;
  }
  .active::after {
    background-color: #fff;
    width: 80%;
    margin-left: 1.5rem;
  }
}
