@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400&family=Lora:wght@600&family=Montserrat:wght@700&display=swap");

:root {
  /* header */
  --header-height: 80px;

  /* color */
  --primary-color: #00ab55;

  --primary-color-light: #a1f4c0;
  --secondary-color: #f3826f;
  --primary-text: #222425;
  --secondary-text: #404145;

  /* Box shadow */
  --shadow-primary: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

header {
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-primary);
}
